html{
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    text-shadow: 0 0 5px black;
}
body{
      font-family: "Comic Sans MS",sans-serif;
      background-color: whitesmoke;
      margin: 0;
                               }
}
h2{
    background:linear-gradient(to right , orangered,white,green);
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px black;
}
p{
    text-align: center;
}
table{
    width: 100%;
    text-align: center;
}
img , iframe{
    border: 5px solid white;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}